<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atheeshproperty.messageassistantfinal">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AddNewMessage"
            android:label="Add new message"
            android:noHistory="false"/>

        <activity
            android:name=".AddNewBirthday"
            android:label="Add new birthday"
            android:noHistory="false"/>

        <activity
            android:name=".UpdateAMesage"
            android:label="Update message details"
            android:noHistory="false"/>

        <activity
            android:name=".UpdateABirthday"
            android:label="Update Birthday details"
            android:noHistory="false"/>

        <service
            android:name=".Services"
            android:exported="false"
            android:stopWithTask="false" />

        <receiver android:name=".AlertReceiver" />

        <receiver android:name=".BirthdayAlertReceiver"/>

        <receiver android:name=".smsSentReceiver"/>

    </application>

</manifest>